
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;

        }

        body {
            background-color: rgb(205, 204, 204);
        }

        .main {
            width: 100%;
            height: 60px;
            background-color: black;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        .box-1 {
            margin-top: 7px;

        }

        .location2 {
            color: white;
            font-size: 13px;
            margin-right: 15px;
            margin-top: 7px;


        }

        .box-2 {
            display: flex;
        }

        .location1 {
            margin-top: 15px;
            margin-right: none;
        }

        .box-3 {
            width: 50%;
            display: flex;
        }

        .box-3 select {
            height: 35px;
            width: 47px;
            padding: 5px;
            font-size: 12px;
            outline: none;
            border: none;
            border-radius: 5px 0 0 5px;
            background-color: #E6E6E6;
        }

        .box-3 select:hover {
            background-color: #dbd7d7;
        }

        .box-3 input {
            width: 85%;
            height: 35px;
            outline: none;
            padding-left: 20px;
            margin-left: -5;
            border: none;
            border-left: 1px solid #E7E7E7;
        }

        .box-3 button {
            height: 35px;
            width: 47px;
            padding: 5px;
            font-size: 12px;
            outline: none;
            border: none;
            border-radius: 0 5px 5px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #FEBD69;
        }

        .box-3 button:hover {
            background-color: #ee9e37;
        }

        .box-4 {
            display: flex;
            margin-top: 7px;
        }

        .img {
            margin-top: 17px;
            margin-left: -10px;
        }

        .box1 select {
            height: 35px;
            width: 40px;
            display: flex;
            background-color: none;
            border: none;
            outline: none;
            border-radius: 5px 5px;
            margin-top: 7px;
            background-color: black;
            color: white;


        }

        .box2 {
            color: white;
            font-size: 11px;
            margin-left: 20px;
            margin-top: 7px;
            margin-right: 4px;
        }

        .box3 {
            color: white;
            font-size: 11px;
            margin-right: 3px;
            margin-top: 7px;
            margin-left: 22px;
        }

        .box4 {
            margin-top: 3px;
            display: flex;
            color: white;


        }

        .Cart-counter {
            color: #ee9e37;
            position: relative;
            left: 35px;
            font-weight: bold;
        }

        .main1 {
            width: 100%;
            height: 35px;
            background-color: #253030;
            display: flex;
            align-items: center;
            justify-content: baseline;
        }

        .box2 {
            display: flex;
            width: 95%;


        }

        .box1_ {
            margin-top: 3px;
            display: flex;
            color: white;
            margin-bottom: 11px;
            font-size: 16px;
            margin-left: 17px;

        }

        .box2_ {
            margin-top: 3px;
            display: flex;
            color: white;
            margin-left: 18px;
            margin-bottom: 11px;
            font-size: 16px;
        }

        .box3_ {
            margin-top: 3px;
            display: flex;
            color: white;
            margin-left: 18px;
            margin-bottom: 11px;
            font-size: 16px;
        }

        .box4_ {
            margin-top: 3px;
            display: flex;
            color: white;
            margin-left: 18px;
            margin-bottom: 11px;
            font-size: 16px;
        }

        .box5_ {
            margin-top: 3px;
            display: flex;
            color: white;
            margin-left: 18px;
            margin-bottom: 11px;
            font-size: 16px;
        }

        .box6_ {
            margin-top: 3px;
            display: flex;
            color: white;
            margin-left: 18px;
            margin-bottom: 11px;
            font-size: 16px;
        }

        .box7_ {
            margin-top: 3px;
            display: flex;
            color: white;
            margin-left: 18px;
            margin-bottom: 11px;
            font-size: 16px;
        }

        .box8_ {
            margin-top: 3px;
            display: flex;
            color: white;
            margin-left: 18px;
            margin-bottom: 11px;
            font-size: 16px;
            /* margin: 5px 0 0 6px;
      padding: 8px 5px; */
        }

        .box9_ {
            margin-top: 3px;
            display: flex;
            color: white;
            margin-left: 18px;
            margin-bottom: 11px;
            font-size: 16px;
        }

        .box10_ {
            margin-top: 3px;
            display: flex;
            color: white;
            margin-left: 18px;
            margin-bottom: 11px;
            font-size: 16px;
        }

        .box11_ {
            margin-top: 3px;
            display: flex;
            color: white;
            margin-left: 18px;
            margin-bottom: 11px;
            font-size: 16px;
        }

        .box12_ {
            margin-top: 3px;
            display: flex;
            color: white;
            margin-left: 18px;
            margin-bottom: 11px;
            font-size: 16px;
        }

        .box13_ {
            margin-top: 3px;
            display: flex;
            color: white;
            margin-left: 18px;
            margin-bottom: 11px;
            font-size: 16px;
        }

        .box14_ {
            margin-top: 3px;
            display: flex;
            color: white;
            margin-left: 18px;
            margin-bottom: 11px;
            font-size: 16px;
        }

        .box15_ {
            margin-top: 3px;
            display: flex;
            color: white;
            margin-left: 18px;
            margin-bottom: 11px;
            font-size: 16px;

        }

        .box16_ {
            margin-top: 3px;
            display: flex;
            color: white;
            margin-left: 18px;
            margin-bottom: 11px;
            font-size: 16px;
        }

        .box1 {
            display: flex;
            /* margin-right: 10px; */
        }

        .class {
            /* align-items: center; */
            margin-left: none;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            color: #E6E6E6;
            margin-left: 10px;

        }

        .main2 {
            height: 400px;
            width: 100%;
            border: 2px solid black;
            background-color: rgb(28, 175, 175);

        }

        .product-list-1 {
            width: 100%;
            height: 300px;
            display: flex;
            justify-content: space-evenly;
            position: relative;
            top: -100px;


        }

        .box1- {
            height: 450px;
            width: 350px;
            /* border: 2px solid black; */

            background-color: white;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }


        .img-text {
            font-size: 15px;
            height: 50px;
        }

        .outer-box {
            display: flex;
            gap: 20px;
        }

        .main3 {
            height: 250px;
            width: 97.09%;
            /* border: 2px solid black; */
            background-color: white;
            align-items: center;
            display: flex;
            margin-left: 22px;
            margin-top: 73px;

        }


        .box {
            height: 180px;
            width: 180px;
            /* border: 2px solid black; */
            background-color: white;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            /* margin-top: 75px; */
            margin-left: 13px;
            margin-right: 13px;
            /* overflow: hidden; */
        }

        .main4 {
            height: 50px;
            width: 100%;
            background-color: #374454;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .main5 {
            height: 550px;
            width: 100%;
            background-color: #232F3E;
            display: flex;
            color: white;
            align-items: center;
        }

        .box--1 {
            height: 500px;
            width: 400px;
            margin-left: 250px;
            margin-right: 50px;
            margin-top: 80px;
            font-size: 16px;


        }

        .box--2 {
            height: 500px;
            width: 400px;
            margin-left: -145px;
            margin-right: 50px;
            margin-top: 80px;
            font-size: 16px;

            /* display: flex; */
        }

        .box--3 {
            height: 500px;
            width: 400px;
            margin-left: -120px;
            margin-right: 50px;
            margin-top: 80px;
            font-size: 16px;


        }

        .box--4 {
            height: 500px;
            width: 400px;
            margin-left: -80px;
            margin-right: 100px;
            margin-top: 80px;
            font-size: 16px;
        }

        .main6 {
            height: 100px;
            width: 100%;
            background-color: #232F3E;
            display: flex;
            align-items: center;
            border: 2px solid #374454;
        }

        .box_-1 {
            margin-top: 5px;
            margin-left: 40%;
        }

        .box_-2 {
            height: 35px;
            width: 70px;
            margin-left: 30px;
            align-items: center;
            margin-bottom: 33px;
            margin-top: 7px;
        }

        .box_-2 select {
            height: 40px;
            width: 90px;
            display: flex;
            background-color: none;
            border: 1px solid #374454;
            outline: none;
            border-radius: 5px 5px;
            margin-top: 4px;
            background-color: #232F3E;
            color: white;
            align-items: center;
            justify-content: center;  
           
        }

        .box_-3 {
            height: 40px;
            width: 90px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px 5px;
            margin-left: 40px;
            margin-top: 20px;
            margin-bottom: 33px;
            border: 1px solid #374454;
            


        }   